@import '~antd/dist/antd.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '~react-perfect-scrollbar/dist/css/styles.css';

body{
  background-color: #f0f2f5;
}

.ant-layout-header{
  background-color: #fff;
}

.ant-layout-content{
  min-height: auto;
}

.ant-card-body .cover {
  width: calc( 100% + (24px * 2));
  display: block;
  flex: 1 1 auto;
  margin: 12px -24px;
}

.ant-card-body .cover img {
  max-width: 100%;
}

.profile-header-footer {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.profile-header-footer>* {
  margin-right: 5px;
}

.ritch-editor {
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #f0f0f0;
  justify-content: flex-start;
  align-items: center;
}

.post-list.item-skeleton {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  margin-bottom: 10px;
  padding: 1rem;
}

.custom-divider > .ant-divider-inner-text,
.custom-divider.ant-divider-horizontal.ant-divider-with-text-center::before,
.custom-divider.ant-divider-horizontal.ant-divider-with-text-center::after
{
  border-color: silver;
  color: silver;
}

blockquote {
  border-left: 5px solid silver;
  padding-left: 5px;
  border-radius: 2px 0 0 2px;
  background-color: whitesmoke;
}